* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: burlywood;
}
#container {
    width: 15%;
    height: 40%;
    position: fixed;
    bottom: 10%;
    right: 10%;
    border: 2px solid black;
    box-sizing: content-box;

}
#tampilan {
    width: 100%;
    height: 73%;
    background-color: blanchedalmond;
    position: sticky;
}
.h2 {
    text-align: center;
    background-color: lightskyblue;
    padding: 20px;
   
}
.pembungkus {
    background-color: white;
    width: 100%;
    height: 10%;
}
#text {
    width: 80%;
    height: 100%;
}
#kirim {
    width: 15%;
    height: 100%;
}
#kirim:hover {
    cursor: pointer;
}
#buble {
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid black;
}