* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

#pembungkus {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    background-color: darkcyan;
}
.title{
    text-align: center;
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
label {
    width: 100%;
    height: 50px;
    margin: 10px;
}
input {
    width: 60%;
}
#submit, #reset {
    width: 40%;
}
.button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#tampilan {
    width: 20%;
    margin: auto;
    background-color: darkkhaki;
}

p{
    width: 100%;
}