* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rosybrown ;
    text-align: center;
    margin-top: 50px;
}
.container {
    width: 60%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
#pilih{
    width: 50%;
    height: 30px;
    margin: 20px auto;
}
#image{
    width: 40%;
    margin: 20px auto;
}
#image:hover {
    cursor: pointer;
    opacity: 0.5;
}

@keyframes zoomIn{
    to {
        transform:scale(1)
    }
}
.zoom {
    transform: scale(0);
    animation: zoomIn 1;
}