* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 200px;
    padding: 10px auto;
    border: 2px solid black;
    background-color: navajowhite;
    margin: 2% auto;
    box-sizing: border-box;
}

#title {
    text-align: center;
}

#tabel {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    
}
td {
    text-align: center;
}
input {
    text-align: center;
}