* {
    margin: 0;
    padding: 0;
}

#container {
    width: 30%;
    height: 30%;
    border: 2px solid black;
    margin: 30% auto;
    padding: 30px;
    background-color: burlywood;
}

#h1 {
    text-align: center;
}

#label {
    display: flex;
    flex-direction: column;
}

.pembungkus {
    margin: 3%;
}

#user, #pw {
    width: 50%;
}
#send {
    width: 10%;
}


/* ------CSS Login Berhasil------ */

.berhasil {
    width: 30%;
    height: 100px;
    margin: 10% auto;
    border: 3px solid black;
    background-color: cadetblue;
}

.login {
    width: 100%;
    text-align: center;
}

.selamat {
    width: 100%;
    padding: 3%;
}